<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="../NLog/InternalLog.log"
	  throwConfigExceptions="true">

	<variable name="logDirectory" value="logs"/>
	
	<targets>
		<target name="logFile" xsi:type="File" fileName="${logDirectory}/log.log"/>
		<target name="debugLogFile" xsi:type="File" fileName="${logDirectory}/debug.log"/>
	</targets>

	<rules>
		<logger name="System.*" finalMinLevel="Warn"/>
		<logger name="Microsoft.*" finalMinLevel="Warn"/>
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info"/>
		<logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="debugLogFile"/>
		<logger name="*" minlevel="Info" writeTo="logFile"/>
	</rules>
</nlog>
